extends layout

block content
  .ui.piled.segment
    #header Air raid
      .fb-login-button(data-show-faces='false' data-auto-logout-link='true')
    .form.ui
      .field
        .ui.label.red target id
        .ui.input
          input(type='text' name='t-url')
      .field
        .ui.label.red message
        textarea(name='msg')
      .ui.red.submit.button fight
